.filter-green {
    filter: invert(98%) sepia(100%) saturate(1%) hue-rotate(299deg) brightness(104%) contrast(101%);
    margin: 10px;
}

.navbar-custom {
          background-color: #141414;
}

.blink_me {
    animation: blinker 2s linear infinite;
    width: 10px;
    height: 10px;
    display: inline-block;
    border: 1px solid green;
    background-color: green;
    border-radius: 100%;
  }
  @keyframes blinker {
    50% {
      opacity: 0.6;
    }
  }

  .bts {
    color: white;
    border: none;
    background-color: #16161d;
  }
  

